{% extends "base.html" %}
{% block title %}About - MagicFish.dev{% endblock %}
{% block maincontent%}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 prof-background text-center align-middle">
            <div class="about-profile-image text-center">
                <h1>Rudi Visagie</h1>
                <h2>Software Developer & Magical Fish</h2>
                <img src="../static/images/profilepic.jpg" alt="Photo of Rudi Visagie"
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. At eligendi, perferendis error aliquid saepe ullam numquam iure in quod veritatis quos pariatur adipisci unde quae aliquam nostrum a 
                officia voluptates ea porro inventore? Debitis quae tenetur reprehenderit minus dolorem voluptatibus eveniet culpa et ex nostrum perferendis quisquam, omnis sint alias?
            </p>
            <a href="#" class="btn btn-secondary btn-lg" role="button">Get in Touch</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values">
                        <div class="circle"></div>
                        <img src="../static/images/flask.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Human First</h1>
                        <h3>Blah blah blah human first stuf 123445</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}