{% extends "base.html" %}
{% block title %}About - MagicFish.dev{% endblock %}
{% block maincontent%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 prof-background text-center align-middle">
            <div class="about-profile-image text-center">
                <h1>Rudi Visagie</h1>
                <h2>Software Developer & Magical Fish</h2>
                <img src="../static/images/profilepic.jpg" alt="Photo of Rudi Visagie"
            </div>
            <p>
                Hi, Thanks for checking me out! I'm a mostly self taught software developer looking for a junior professional position. My greatest desire is to be able to code full time
                as an occupation instead of just a hobby, transitioning from an IT admin to a Software Developer. 
            </p>
            <p>I'm easy going, great with people and known to be good for a laugh. </p>
            <a href=contact class="btn btn-secondary btn-lg" role="button">Get in Touch</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center values-heading">
            <p>CORE VALUES</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/human-first.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Human First</h1>
                        <h3>Treat others as you would like to be treated yoursef. Everyone gets angry, tired, happy and everything in between.
                            We are all HUMANS. Tolerance is key. 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/self-starter.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Self Starter</h1>
                        <h3>Don't wait for things to happen to you, be that work or personal life, be the force that takes action.<br/>Therefor I am <em>following
                            my dream.</em>
                        </b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/determination.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Determination</h1>
                        <h3>Life will keep pushing you down... I know I have had many setbacks, but here I am, getting up yet another time and going for gold. Always.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="hidden">
                <h1>Technologies im focussing on.</h1><br/><br/>
                <div class="row logos text-center">
                    <div class="col-md-2 logo hidden">
                        <p>Python 3</p>
                        <img src="../static/images/python3.png" alt="test">
                    </div>
                    <div class="col-md-2 logo hidden">
                        <p>JavaScript / HTML / CSS</p>
                        <img src="../static/images/javahtmlcss.png" alt="test">
                    </div>
                    <div class="col-md-2 logo hidden">
                        <p>React</p>
                        <img src="../static/images/react.png" alt="test">
                    </div>
                    <div class="col-md-2 logo hidden">
                        <p>Node.js</p>
                        <img src="../static/images/nodejs.png" alt="test">
                    </div>
                    <div class="col-md-2 logo hidden">
                        <p>Docker</p>
                        <img src="../static/images/docker.png" alt="test">
                    </div>
                    <div class="col-md-2 logo hidden">
                        <p>MySQL</p>
                        <img src="../static/images/mysql.png" alt="test">
                    </div>
                </div>
            </section>
            
            <section class="hidden">
                <h1>Technologies I have worked with.</h1><br/><br/>
                <div class="row logos text-center">
                    <div class="col-md-3 logo hidden">
                        <p>Python3</p>
                        <img src="../static/images/python3.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>JavaScript / HTML / CSS</p>
                        <img src="../static/images/javahtmlcss.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Bootstrap 5</p>
                        <img src="../static/images/bootstrap (2).png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>MySQL</p>
                        <img src="../static/images/mysql.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>C#</p>
                        <img src="../static/images/csharp.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Java</p>
                        <img src="../static/images/java.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Linux Server</p>
                        <img src="../static/images/ubuntu.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Cloud - Google Cloud Platform </p>
                        <img src="../static/images/GCP.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Cloud - Digital Ocean</p>
                        <img src="../static/images/digitalocean.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>NGINX</p>
                        <img src="../static/images/nginx.png" alt="test">
                    </div>
                    <div class="col-md-3 logo hidden">
                        <p>Hyper-V</p>
                        <img src="../static/images/hyperv.png" alt="test">
                    </div>
                </div>
            </section>

            <section class="hidden">
                <h1>Throw in a few Certs...</h1>
                <p>and a project or two.</p>
            </section>

            <section class="hidden">
                <div class="row logos text-center cert-cards">
                    <div class="col-md-4 logo hidden">
                        <img src="../static/images/cticert.PNG" alt="test">
                    </div>
                    <div class="col-md-4 logo hidden">
                        <img src="../static/images/javascriptcert.PNG" alt="test">
                    </div>
                    <div class="col-md-4 logo hidden">
                        <img src="../static/images/golangcert.PNG" alt="test">
                    </div>
                </div>
                <span style="padding-top: 5rem;">
                    <h2>More to come!</h2>
                    <a href=projects class="btn btn-dark btn-lg" role="button">Check out my projects.</a>
                </span>
            </section>
        </div>
    </div>
</div>
{% endblock %}