{% extends "base.html" %}
{% block title %}About - MagicFish.dev{% endblock %}
{% block maincontent%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 prof-background text-center align-middle">
            <div class="about-profile-image text-center">
                <h1>Rudi Visagie</h1>
                <h2>Software Developer & Magical Fish</h2>
                <img src="../static/images/profilepic.jpg" alt="Photo of Rudi Visagie"
            </div>
            <p>
                Hi, Thanks for checking me out! I'm a mostly self taught software developer looking for a junior professional position. My greatest desire is to be able to code full time
                as an occupation instead of just a hobby which would propel my skills to greater and greater heights. 
            </p>
            <p>I'm easy going, great with people and known as the person everyone
                loves to deal with both professionally and when the laptops are closed. :) - Read on to find out more.</p>
            <a href="#" class="btn btn-secondary btn-lg" role="button">Get in Touch</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center values-heading">
            <p>CORE VALUES</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/human-first.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Human First</h1>
                        <h3>Treat others as you would like to be treated yoursef. Everyone gets angry, tired, happy and everything in between.
                            We are all HUMANS. Tolerance is key. 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/self-starter.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Self Starter</h1>
                        <h3>Don't wait for things to happen to you, be that work or personal life, be the force that takes action.<br/>Therefor I am <em>following
                            my dream.</em>
                        </b></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container-3d">
                <div class="card-3d">
                    <div class="values" style="perspective: 1000px;">
                        <div class="circle"></div>
                        <img src="../static/images/determination.png" alt="test">
                    </div>
                    <div class="info-3d">
                        <h1 class="title-3d">Determination</h1>
                        <h3>Life will keep pushing you down... I know I have had many setbacks, but here I am, getting up yet another time and going for gold. Always.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section class="hidden">
                <h1>Technologies im focussing on.</h1>
                <div class="row logos">
                    <div class="col-md-3 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-3 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>JavaScript + NodeJS</p>
                    </div>
                    <div class="col-md-3 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>React</p>
                    </div>
                    <div class="col-md-3 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Docker</p>
                    </div>
                </div>
            </section>
            
            <section class="hidden">
                <h1>Technologies I have worked with.</h1>
                <div class="row logos">
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>JavaScript + NodeJS</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>React</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Docker</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                    <div class="col-md-1 logo hidden">
                        <img src="../static/images/determination.png" alt="test"><p>Python3</p>
                    </div>
                </div>
            </section>

            <section class="hidden">
                <h1>Throw in a few Certs...</h1>
                <p>carousel or maybe offset cards?</p>
            </section>
        </div>
    </div>
</div>
{% endblock %}