{% extends "base.html" %}
{% block title %}Signup - MagicFish.dev{% endblock %}
{% block maincontent %}
<div class="container-fluid video-background-content fill">
    <div class="row fill">
        <div class="col">
           <div class="container mt-5" style="position: relative; top: 20%;">
            <h1>Contact Me!</h1>
            <form class="row g-3" method="POST">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
                <div class="col-md-8">
                    <label for="emailInfo" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="emailInfo" name="emailInfo" required>
                </div>
                <div class="col-md-4">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="(+27)23-4567">
                </div>
                <div class="col-md-12">
                    <label for="message" class="form-label">Please leave your message here:</label>
                    <textarea class="form-control" id="message" name="message" rows="8" required></textarea>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-dark btn-lg">Send message</button>
                </div>
            </form>
           </div>
        </div>
        <div class="col">
            <iframe src="https://snazzymaps.com/embed/432137" width="100%" style="border:none; height: 100vh;"></iframe>
        </div>
    </div>
</div>
{% endblock %}