{% extends "base.html" %}
{% block title %}Projects - MagicFish.dev{% endblock %}
{% block maincontent %}
<section class="dark">
	<div class="container py-4" style="padding-top: 8rem!important;">
		<h1 class="h1 text-center" id="pageHeaderTitle">Projects Portfolio</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/images/magicfishdev.PNG" alt="Image of the decribed project." />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">magicfish.dev</a></h1>
				<div class="postcard__subtitle small">
					<span>My coding portfolio showcase platform.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">I created this website project as a means to portray my coding projects in a more easier to digest and visual manner. Serving as my coding portfolio this site will be updated to be better and better as I become more skilled. This was quite fun as a first Python project, in order to both make something tangible and become more familiar with Python. Combining my existing knowledge of HTML, CSS, and Bootstrap into a project that will be my gateway drug into the rest of my coding journey.</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Jinja2</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Flask</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Bootstrap 5</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>SCSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/magicfish.dev" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/images/floppyAI.PNG" alt="Image of the floppyAI program." />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">&#160;floppyAI</a></h1>
				<div class="postcard__subtitle small">
					<span>A flappy bird clone using machine learning (NEAT-Python) to play the game optimally and Pygame for the visuals.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The main objective here is to practice coding in Python, learn about machine learning and getting used to Python object orientation.
					It was quite interesting to use Pygame and see just how complex drawing to a screen and animating can be although that was not the main focus of this project and I am glad
					I could find a tutorial to help me with it. This was fun to create and had me deal with a quite a few interesting bugs as well as help ingrain Python syntax and OOP principals. 
				</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>NEAT-Python</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Pygame</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/floppyAI" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/images/prettyweather1.PNG" alt="Picture of a map with weather data on it." />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">prettyweather</a></h1>
				<div class="postcard__subtitle small">
					<span>A weather website that displays weather information for any location using openweathermaps API, GCP Maps API, Python3, Flask and Jinja2</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">This was quite fun to make. Had lots of practice with API calls, parsing and manipulating data from JSON.
					My knowledge of object orientation came in very handy here. The website will show WEATHER and POLLUTION data from any city/place you search.
					I used Googles Map API to put a map as the background which changes to the location that you are searching.
				</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Jinja2</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Flask</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Bootstrap 5</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>SCSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>OpenWeathermaps API</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Google Maps API</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/prettyweather" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">codebros - in progress</a></h1>
				<div class="postcard__subtitle small">
					<span>A full social media website built with the MERN stack that allows for google OAuth registration/login.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Keeps tabs on this project on my GitHub.</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>React</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Express</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>NodeJS</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/codebros" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/502" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">tweetfeels - Upcoming!</a></h1>
				<div class="postcard__subtitle small">
					<span>A program that will analyze tweets for a given hastag and calculate emotional sentiment.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">This program will pull tweets from the Twitter API for a given hashtag and then analyze the data to
					determine the overall sentiment, whether it is negative or positive and other emotional vectors.
				</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
                  
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/501" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">pingpong - Upcoming</a></h1>
				<div class="postcard__subtitle small">
					<span>A chat program using sockets to facilitate live social interaction.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Im not set on the name... but we will see.</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
                    
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
	</div>
</section>
{% endblock %}
