{% extends "base.html" %}
{% block title %}Projects - MagicFish.dev{% endblock %}
{% block maincontent %}
<section class="dark">
	<div class="container py-4" style="padding-top: 8rem!important;">
		<h1 class="h1 text-center" id="pageHeaderTitle">Projects Portfolio</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/images/magicfishdev.PNG" alt="Image of the decribed project." />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">magicfish.dev</a></h1>
				<div class="postcard__subtitle small">
					<span>My coding portfolio showcase platform.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">I created this website project as a means to portray my coding projects in a more easier to digest and visual manner. Serving as my coding portfolio this site will be updated to be better and better as I become more skilled. This was quite fun as a first Python project, in order to both make something tangible and become more familiar with Python. Combining my existing knowledge of HTML, CSS, and Bootstrap into a project that will be my gateway drug into the rest of my coding journey.</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Jinja2</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Flask</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Bootstrap 5</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>SCSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/magicfish.dev" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../static/images/floppyAI.PNG" alt="Image of the floppyAI program." />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">&#160;floppyAI</a></h1>
				<div class="postcard__subtitle small">
					<span>A flappy bird clone using machine learning (NEAT-Python) to play the game optimally and Pygame for the visuals.</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The main objective here is to practice coding in Python, learn about machine learning and getting used to Python object orientation.
					It was quite interesting to use Pygame and see just how complex drawing to a screen and animating can be although that was not the main focus of this project and I am glad
					I could find a tutorial to help me with it. This was fun to create and had me deal with a quite a few interesting bugs as well as help ingrain Python syntax and OOP principals. 
				</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>NEAT-Python</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Pygame</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/floppyAI" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Placeholder Image" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">prettyweather - in progress</a></h1>
				<div class="postcard__subtitle small">
					<span>A weather website that displays weather information for any location using OpenWeather API and I'm going to try and make it look pretty :)</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">The goal for this project is to get some practice in with API usage as well as ingrain my knowledge of Flask and Python 
					before I move on to learn and create a large web page using ReactJS, TailwindCSS and Figma. Plus I think it would be pretty cool. Check the progess on my Github.
				</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Python3</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Jinja2</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Flask</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Bootstrap 5</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>SCSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>OpenWeatherAPI</li>
				</ul>
                <br/>
                <a href="https://github.com/MagicFishgit/prettyweather" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Upcoming - Full Website using ReactJS, Tailwind and Figma</a></h1>
				<div class="postcard__subtitle small">
					<span>This will serve as a proper website I can use as boilerplate for future projects as I focus on JavaScript / ReactJS / TailwindCSS / Node.js</span>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Coming soon.</div>
				<span>Technologies used:</span>
                <ul class="postcard__tagbox">
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>HTML</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>CSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>JavaScript</li>
					<li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>ReactJS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>TailwindCSS</li>
                    <li class="tag__item"><link rel="icon" type="image/x-icon" href="../static/images/python.ico"/>Figma</li>
				</ul>
                <br/>
                <a href="#" class="btn btn-dark" role="button" target="_blank">View on GitHub</a>
			</div>
		</article>
	</div>
</section>
{% endblock %}
